@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --breakpoint-lg: 68rem;
  --breakpoint-xl: 80rem;
}

:root {
  --ui-container: 88rem;
  --ui-header-height: --spacing(20);

  --ui-color-primary-50: #f1f8f3;
  --ui-color-primary-100: #deede1;
  --ui-color-primary-200: #bfdbc6;
  --ui-color-primary-300: #94c1a3;
  --ui-color-primary-400: #66a17c;
  --ui-color-primary-500: #45845e;
  --ui-color-primary-600: #3a7854;
  --ui-color-primary-700: #28543b;
  --ui-color-primary-800: #224331;
  --ui-color-primary-900: #1d3729;
  --ui-color-primary-950: #0f1f17;

  --ui-primary: var(--ui-color-primary-600);
}

button,
[role='button'] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}
